# Xcode
DerivedData/
*.xcuserstate
*.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/

# Build
build/
out/

# macOS
.DS_Store

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
compile_commands.json

# IDE
.vscode/

*.log
*.tmp